<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="contactus.component.css">
    <title>contact-us</title>
</head>

<body>


    <div class="container">
        <form>
            <div>
                <h1>Contact Us</h1>
            </div>

         
            <input type="text" id="name" name="name" placeholder="Enter Your Fullname" required>

            
            <input type="email" id="email" name="email" placeholder="Enter Email" required>

            <input type="email" id="email" name="email" placeholder="Phone number" required>

            <input type="email" id="email" name="email" placeholder="password" required>

            <input type="email" id="email" name="email" placeholder="Confirm password" required>



            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" placeholder="Reason to Book the place." required></textarea>

            <button>Submit</button>
        </form>
    </div>
    
        <footer>
           
            <section class="footer">
                <div class="section-footer">
                    <p> &copy; Our services in different cities.</p>

                    <div class="icons">
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-whatsapp'></i></a>
                    </div>
                </div>

                <div class="footer-content">
                    <h4>Cites</h4>
                    <li><a href="#"></a>Mumbai</li>
                    <li><a href="#"></a>Pune</li>
                    <li><a href="#"></a>Kashmir</li>
                    <li><a href="#"></a>Delhi</li>
                    <li><a href="#"></a>Heydrabad</li>
                    <li><a href="#"></a>Lucknow</li>
                </div>
    
                <div class="footer-content">
                    <h4>Best-Venues</h4>
                    <li><a href="#"></a>Mumbai:- The Courtyard</li>
                    <li><a href="#"></a>Pune:- Seasons Mall</li>
                    <li><a href="#"></a>Kashmir:-  Hotel Meridian Palace</li>
                    <li><a href="#"></a>Delhi:- Amrai Farms </li>
                    <li><a href="#"></a>Heydrabad:- Taj Falaknuma Palace</li>
                    <li><a href="#"></a>Lucknow:- The Grand Radiant</li>
                </div>

                
            

            </section>
        </footer>

</body>

</html>